<%
/**
 * Whether the current user is authenticated
 * @type {boolean}
 */
var authed = authed

/**
 * The current user, or undefined if {@link authed} is false
 * @type {?any}
 */
var user = user

/**
 * The booru item
 * @type {import('../../../../src/models/media.model').MediaInfo}
 */
var item = item

/**
 * The comment page size to use
 */
var pageSize = pageSize
%>
<div id="item-comments-container" data-iframe-height>
    <div v-if="loading" id="item-comments-loading">
        Loading comments...
    </div>
    <div v-else v-show="true" style="display: none">
        <div id="item-comment-form">
            <form v-if="authed" @submit.prevent="commentForm(null)">
                <p v-if="error" class="form-error">{{ error }}</p>
                <br>
                <textarea placeholder="Type something..." ref="mainFormCommentContent" rows="10" cols="50"></textarea>
                <br>
                <div class="mood-chooser">
                    <div class="char-chooser">
                        <div class="mood-char" v-for="char in moodChars">
                            <label>
                                <input type="radio" name="moodchar" :value="char.id" v-model="mainFormChar">
                                <img :src="'/assets/mood/' + char.defaultMood.id" :alt="char.defaultMood.name" width="50" height="50">
                            </label>
                        </div>
                    </div>
                    <div class="mood-chooser-open" @click="mainFormShowMoods = !mainFormShowMoods">Moods {{ mainFormShowMoods ? '⯆' : '⯈' }}</div>
                    <div v-show="mainFormShowMoods" class="mood-chooser-moods" style="display:block">
                        <template v-for="char in moodChars">
                            <div v-for="mood in char.moodsList" class="mood-choice" v-if="char.id == mainFormChar">
                                <label>
                                    <input type="radio" name="mood" :value="mood.id" v-model="mainFormMood">
                                    <img :src="'/assets/mood/' + mood.id" :alt="mood.name" width="50" height="50">
                                </label>
                            </div>
                        </template>
                    </div>
                </div>
                <br>
                <input type="submit" value="Post that!">
            </form>
            <p v-else><a :href="'/login?next=/booru/post/' + itemId">Log in</a> to post your own comments!</p>
        </div>
        <br>
        <div v-if="comments.length > 0" id="item-comments">
            <div class="item-comments-nav">
                <span class="page-arrow" @click="lastPage()" v-if="currentPage > 1">&lt;</span>
                <span class="page-number">Page {{ currentPage }} of {{ pages }}</span>
                <span class="page-arrow" @click="nextPage()" v-if="currentPage < pages">&gt;</span>
            </div>
            <br>
            <div v-for="comment in comments" class="item-comment">
                <div class="comment container" :id="'comment-'+comment.id">
                    <div style="float: right">
                        <div class="commentdate">{{ date(comment.created_on) }}</div>
                        <div v-if="authed && (user.id == comment.author || user.role > 1)" class="comment-delete">
                            <button @click.prevent="deleteComment(comment.id)">Delete</button>
                        </div>
                    </div>
                    <div class="aligned">
                        <div class="comment-mood">
                            <img :src="'/assets/mood/'+comment.mood" :alt="comment.mood_name" :title="comment.mood_name" width="50" height="50">
                        </div>
                        <span class="name2">{{ comment.author_username }}</span>
                    </div>
                    <div class="comment-content">{{ comment.content }}</div>
                </div>
                <div class="comment-replies" :id="'comment-'+comment.id+'-replies'">
                    <template v-for="reply in comment.replies">
                        <div v-if="reply.parent == comment.id" :key="reply.id" class="comment-reply container">
                            <div style="float: right">
                                <div class="commentdate">{{ date(reply.created_on) }}</div>
                                <div v-if="authed && (user.id == reply.author || user.role > 1)" class="comment-delete">
                                    <button @click.prevent="deleteComment(reply.id)">Delete</button>
                                </div>
                            </div>
                            <div class="alignedcom">
                                <div class="comment-mood">
                                    <img :src="'/assets/mood/'+reply.mood" :alt="reply.mood_name" :title="reply.mood_name" width="50" height="50">
                                </div>
                                <div class="name2"><span>{{ reply.author_username }}</span></div>
                            </div>
                            <div class="comment-reply-content">{{ reply.content }}</div>
                        </div>
                    </template>
                    <div v-if="authed" class="comment-reply-box">
                        <div class="comment-reply-open" @click="formShowReply[comment.id] = !formShowReply[comment.id];rerender()">Reply {{ formShowReply[comment.id] ? '⯆' : '⯈' }}</div>
                        <form :key="renderKey" v-show="formShowReply[comment.id]" @submit.prevent="commentForm(comment.id)" method="POST" class="comment-reply-form" style="display:block">
                            <textarea placeholder="Reply something..." v-model="formContent[comment.id]" name="content" rows="10" cols="50"></textarea>
                            <br>
                            <div class="mood-chooser">
                                <div class="char-chooser">
                                    <div class="mood-char" v-for="char in moodChars">
                                        <label>
                                            <input type="radio" name="moodchar" :value="char.id" v-model="formChars[comment.id]">
                                            <img :src="'/assets/mood/' + char.defaultMood.id" :alt="char.defaultMood.name" width="50" height="50" @click="setTimeout(() => rerender(), 50)">
                                        </label>
                                    </div>
                                </div>
                                <div class="mood-chooser-open" @click="formShowMoods[comment.id] = !formShowMoods[comment.id];rerender()">Moods {{ formShowMoods[comment.id] ? '⯆' : '⯈' }}</div>
                                <div :key="renderKey" v-show="formShowMoods[comment.id]" class="mood-chooser-moods" style="display:block">
                                    <template v-for="char in moodChars">
                                        <div v-for="mood in char.moodsList" class="mood-choice" v-if="char.id == formChars[comment.id]">
                                            <label>
                                                <input type="radio" :value="mood.id" name="mood" v-model="formMoods[comment.id]">
                                                <img :src="'/assets/mood/' + mood.id" :alt="mood.name" width="50" height="50">
                                            </label>
                                        </div>
                                    </template>
                                </div>
                            </div>
                            <br>
                            <input type="submit" value="Post that!">
                        </form>
                        <br><br>
                    </div>
                </div>
            </div>
            <br>
            <div class="item-comments-nav">
                <span class="page-arrow" @click="lastPage()" v-if="currentPage > 1">&lt;</span>
                <span class="page-number">Page {{ currentPage }} of {{ pages }}</span>
                <span class="page-arrow" @click="nextPage()" v-if="currentPage < pages">&gt;</span>
            </div>
        </div>
        <div v-else>
            <i>There are no comments yet...</i>
        </div>
    </div>
</div>

<%- include('../../partials/_authscript.ejs', { authed, user }) %>
<script>
    // Comments widget data
    const commentItemId = <%= itemId %>;
    const pageSize = <%= pageSize %>;
    <% if(authed) { %>
    const defaultChar = <%= user.character %>;
    const defaultMood = <%= user.characterDefault %>;
    const chars = <%-
        JSON.stringify(
            moodChars.map(char => ({
                id: char.id,
                name: char.name,
                'default': 51,
                defaultMood: {
                    id: char.defaultMood.id,
                    name: char.defaultMood.name,
                    key: char.defaultMood.key,
                },
                moodsList: char.moodsList.map(mood => ({
                    id: mood.id,
                    name: mood.name,
                    key: mood.key,
                })),
            })),
        ).replace(/</g, '\\u003c').replace(/>/g, '\\u003e')
    %>;
    <% } else { %>
    const defaultChar = -1;
    const defaultMood = -1;
    const chars = [];
    <% } %>
</script>
