<script async defer src="/static/js/taginput.js"></script>

<label class="container-header" for="tag-input">Search</label><br>
<div class="sidebar-section">
    <form id="tag-form" action="/booru/tags" method="GET">
        <input type="text" name="query" placeholder="e.g. tag another_tag third_tag" id="tag-input" value="<%= queryTags.join(' ') %>"><br>
        <input type="submit" value="Search">
    </form>
</div>

<% if(typeof resultTags != 'undefined') { %>
    <div class="sidebar-section">
        <label for="" class="container-header sidebar-section">Tags</label>
        <div id="tags-container">
            <% for(let tag of Object.keys(resultTags)) { %>
                <div class="tag-listing">
                    <a href="/booru/tags?query=<%= tag %>"><%= tag %></a> <span class="tag-listing-count">(<%= resultTags[tag] %>)</span>
                </div>
            <% } %>
        </div>
    </div>
<% } %>

<% if(typeof item != 'undefined') { with(item) { %>
    <div class="sidebar-section">
        <label for="" class="container-header sidebar-section">Statistics</label><br>
        <span>ID: <%= id %></span><br>
        <span>MIME type: <%= mime %></span><br>
        <% if(width !== null && height !== null) { %><span>Dimensions: <%= width+'x'+height %></span><br> <% } %>
        <span>Comments: <%= comments %></span><br>
        <span>Created on <%= date(created_on) %></span><br>
        <span>by <a href="/booru/user/<%= uploader_username %>"><%= uploader_username %></a></span><br>
    </div>

    <div class="sidebar-section">
        <label for="" class="container-header sidebar-section">Options</label><br>
        <span><a href="/assets/media/<%= id %>/<%= encodeURIComponent(filename) %>">File link</a></span><br>

        <% if(authed && user.role > 0) { %>
            <span><a href="/booru/action?action=add-to-collection&item=<%= id %>">Add to collection...</a></span><br>
        <% } %>

        <% if(typeof nextUrl != 'undefined') { %>
            <br>
            <span><a href="<%= nextUrl %>">Next item</a></span>
        <% } %>
        <% if(typeof prevUrl != 'undefined') { %>
            <br>
            <span><a href="<%= prevUrl %>">Previous item</a></span>
        <% } %>
    </div>
<% } } %>