<div class="blogpost">
    <% if(post.show_title) { %>
        <div class="aligned"> 
            <div class="blog-icon">
                <img src="/assets/avatar/<%= post.author_username %>" alt="Author icon">
            </div>
            <div class="name2">
                <a href="/blog/<%= post.slug %>">
                    <span><%= post.title %></span>
                </a>
            </div>
        </div>
    <% } %>
    <% if(authed && user.role > 0) { %>
        <div class="blog-edit-button">
            <a href="/blog/<%= post.slug %>/edit">Edit post</a>
        </div>
    <% } %>
    <hr>
    <span class="blogdate"><%= date(post.created_on) %></span>
    <div class="blogdesc"><%- renderBBCode(post.content) %></div>
    <div class="blog-details">
        <span>Posted by: <a href="/contributor/<%= post.author_username %>"><%= post.author_username %></a></span> |
        <span><a href="/blog/<%= post.slug %>"><%= date(post.created_on) %></a><span> |
        <span><a href="/blog/<%= post.slug %>#comments-area">comments (<%= post.comments %>)</a></span>
    </div>
    <% if(post.tags.length > 0) { %>
        <div class="blog-tags">
            Blog tags:
            <% for(tag of post.tags) { %>
                <a href="/tags/<%= tag %>" class="tag"><%= formatTag(tag) %></a>
            <% } %>
        </div>
    <% } %>
    <% if(media.length > 0) { %>
        <div class="blog-media">
            Booru items in this post:
            <br><br>
            <% for(file of media) { %>
                <p class="booru-reference">
                    <a href="/booru/item/<%= file.id %>"><%= file.title %></a>
                    <i>(Uploaded by <a href="/booru/user/<%= file.uploader_username %>"><%= file.uploader_username %></a>)</i>
                </p>
            <% } %>
        </div>
    <% } %>
</div>
<% if(enableComments) { %>
    <div id="comments-area">
        <div class="aligned">
            <span class="name2">COMMENTS</span>
        </div>
        <div class="comment-box">
            <% if(authed) { %>
                <form action="" method="POST">
                    <input type="hidden" name="action" value="comment">
                    <% if(error != null) { %>
                        <p class="form-error"><%= error %></p>
                        <br>
                    <% } %>
                    <textarea placeholder="Type something..." id="comment-box" name="content" rows="10" col="50"></textarea>
                    <br>
                    <div class="mood-chooser">
                        <div class="mood-chooser-open">Moods ⯈</div>
                        <div class="mood-chooser-moods" style="display:block">
                            <% for(mood of user.characterMoods) { %>
                                <div class="mood-choice">
                                    <label>
                                        <input type="radio" name="mood" value="<%= mood.id %>" <%= mood.id == user.characterDefault ? 'checked' : '' %>>
                                        <img src="/assets/mood/<%= mood.id %>" alt="<%= mood.name %>">
                                    </label>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <br>
                    <input type="submit" value="Post that!">
                </form>
            <% } else { %>
                <a href="/login">Log in</a> to make a comment, or <a href="/signup">sign up</a>!
            <% } %>
        </div>
        <hr>
        <div class="comments">
            <% if(comments.length > 0) { %>
                <% for(comment of comments) {%>
                    <div class="comment" id="comment-<%= comment.id %>">
                        <div class="aligned">
                            <div class="comment-mood">
                                <img src="/assets/mood/<%= comment.mood %>" alt="<%= comment.mood_name %>" title="<%= comment.mood_name %>">
                            </div>
                            <span class="name2"><%= comment.author_username %></span>
                        </div>
                        <div class="comment-content"><%= comment.content %></div>
                        <div class="commentdate"><%= date(comment.created_on) %></div>
                        <% if(authed && (user.id == comment.author || user.id == post.author || user.role > 1)) { %>
                            <form action="" method="POST" class="comment-delete">
                                <input type="hidden" name="action" value="delete">
                                <input type="hidden" name="comment" value="<%= comment.id %>">
                                <input type="submit" value="Delete">
                            </form>
                        <% } %>
                    </div>
                    <div class="comment-replies" id="comment-<%= comment.id %>-replies">
                        <% for(reply of replies) { %>
                            <% if(reply.parent == comment.id) { %>
                                <div class="comment-reply">
                                    <div class="alignedcom"> 
                                        <div class="comment-mood">
                                            <img src="/assets/mood/<%= reply.mood %>" alt="<%= reply.mood_name %>" title="<%= reply.mood_name %>">
                                        </div>
                                        <div class="name2"><span><%= reply.author_username %></span></div>
                                    </div>
                                    <div class="comment-reply-content"><%= reply.content %></div>
                                    <div class="commentdate"><span><%= date(reply.created_on) %></span></div>
                                    <% if(authed && (user.id == reply.author || user.id == post.author || user.role > 1)) { %>
                                        <form action="" method="POST" class="comment-delete">
                                            <input type="hidden" name="action" value="delete">
                                            <input type="hidden" name="comment" value="<%= reply.id %>">
                                            <input type="submit" value="Delete">
                                        </form>
                                    <% } %>
                                </div>
                            <% } %>
                        <% } %>
                        <% if(authed) { %>
                            <div class="comment-reply-box">
                                <div class="comment-reply-open">Reply ⯈</div>
                                <form action="" method="POST" class="comment-reply-form" style="display:block">
                                    <% if(comment.id in replyErrors) { %>
                                        <p class="form-error"><%= replyErrors[comment.id] %></p>
                                        <br>
                                    <% } %>
                                    <input type="hidden" name="action" value="comment">
                                    <input type="hidden" name="reply" value="<%= comment.id %>">
                                    <textarea placeholder="Reply something..." id="comment-box" name="content" rows="10" col="50"></textarea>
                                    <br>
                                    <div class="mood-chooser">
                                        <div class="mood-chooser-open">Moods ⯈</div>
                                        <div class="mood-chooser-moods" style="display:block">
                                            <% for(mood of user.characterMoods) { %>
                                                <div class="mood-choice">
                                                    <label>
                                                        <input type="radio" name="mood" value="<%= mood.id %>" <%= mood.id == user.characterDefault ? 'checked' : '' %>>
                                                        <img src="/assets/mood/<%= mood.id %>" alt="<%= mood.name %>">
                                                    </label>
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                    <br>
                                    <input type="submit" value="Post that!">
                                </form>
                                <br><br>
                            </div>
                        <% } %>
                    </div>
                <% } %>
            <% } else { %>
                <i class="name2">Nobody has posted anything yet...</i>
                <br>
                <i class="name2">...yet...YET...</i>
                <br><br>
            <% } %>
        </div>
    </div>
<% } %>

<script src="/static/js/blog.js"></script>