<% if(showForm) { %>
    <h1>Search Posts</h1>
    <form action="" method="GET">
        <label for="query">Search query:</label><br>
        <input type="text" name="query" id="query" placeholder="Search for something...">
        <input type="submit" value="Search">
    </form>
<% } else { %>
    <h1>Showing <%= totalPosts %> result<%= s(totalPosts) %> for "<%= query %>"</h1>
    <form action="" method="GET">
        <input type="text" name="query" id="query" placeholder="Search for something..." value="<%= query %>">
        <input type="submit" value="Search">
    </form>
    <br><br>
    <% if(posts.length > 0) { %>
        <% for(post of posts) { with(post) { %>
            <div class="blogpost">
                <div class="aligned"> 
                    <div class="blog-icon">
                        <img src="/assets/avatar/<%= author_username %>" alt="Author icon">
                    </div>
                    <div class="name2">
                        <a href="/blogs/by/<%= author_username %>">
                            <span><%= author_username %></span>
                        </a>
                    </div>
                </div>
                <% if(show_title) { %>
                    <div class="blog-title">
                        <a href="/blog/<%= slug %>"><%= title %></a>
                    </div>
                <% } %>
                <div class="blogdesc"><%- renderBBCode(content) %></div>
                <div class="blogdate">
                    <span><a href="/blog/<%= slug %>"><%= date(post.created_on) %></a><span>
                    <span class="right"><a href="/blog/<%= slug %>#comments-area">comments (<%= comments %>)</a></span>
                </div>
            </div>
        <% } } %>
    <% } else { %>
        <div id="no-blogs">
            <i>No posts match your search.</i>
            <% if(authed && user.role > 0) { %>
                <br><br>
                <a href="/blogs/new">Create a new post!</a>
            <% } %>
        </div>
        <br>
    <% } %>
<% } %>