<div class="blogpost">
    <div class="aligned"> 
        <div class="blog-icon"><img src="/static/img/iconthing.png" alt=""></div>
        <div class="name2">
            <a href="/contributor/<%= post.author_username %>">
                <span><%= post.author_username %></span>
            </a>
        </div>
</div>
    <% if(post.show_title) { %>
        <div class="blog-title"><%= post.title %></div>
    <% } %>
    <% if(authed && user.role > 0) { %>
        <div class="blog-edit-button">
            <a href="/blog/<%= post.slug %>/edit">Edit post</a>
        </div>
    <% } %>
    <hr>
    <span class="blogdate"><%= date(post.created_on) %></span>
    <div class="blogdesc"><%- renderBBCode(post.content) %></div>
</div>
<% if(enableComments) { %>
    <div class="comments-area">
        <div class="aligned">
            <span class="name2">COMMENTS</span>
        </div>
        <div class="comment-box">
            <% if(authed) { %>
                <form action="" method="POST">
                    <% if(error != null) { %>
                        <p class="form-error"><%= error %></p>
                        <br>
                    <% } %>
                    <textarea placeholder="Type something..." id="comment-box" name="content" rows="10" col="50"></textarea>
                    <br>
                    <div class="mood-chooser">
                        <div class="mood-chooser-open">Moods ⯈</div>
                        <div class="mood-chooser-moods" style="display:block">
                            <% for(i in characterMoods) { %>
                                <div class="mood-choice">
                                    <label>
                                        <input type="radio" name="mood" value="<%= i %>" <%= i == 0 ? 'checked' : '' %>>
                                        <img src="<%= characterMoodToUrl(i, user.character) %>" alt="<%= characterMoods[i] %>">
                                    </label>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <br>
                    <input type="submit" value="Post that!">
                </form>
            <% } else { %>
                <a href="/login">Log in</a> to make a comment, or <a href="/signup">sign up</a>!
            <% } %>
        </div>
        <hr>
        <div class="comments">
            <% if(comments.length > 0) { %>
                <% for(comment of comments) {%>
                    <div class="comment" id="comment-<%= comment.id %>">
                        <div class="aligned">
                            <div class="blog-icon">
                                <img src="<%= characterMoodToUrl(comment.mood, comment.author_character) %>" alt="<%= characterMoods[comment.mood] %>" title="<%= characterMoods[comment.mood] %>">
                            </div>
                            <span class="name2"><%= comment.author_username %></span>
                        </div>
                        <div class="comment-content"><%= comment.content %></div>
                        <div class="commentdate"><%= date(comment.created_on) %></div>
                    </div>
                    <div class="comment-replies">
                        <% for(reply of replies) { %>
                            <% if(reply.parent == comment.id) { %>
                                <div class="comment-reply">
                                    <div class="alignedcom"> 
                                        <div class="blog-icon">
                                            <img src="<%= characterMoodToUrl(reply.mood, reply.author_character) %>" alt="<%= characterMoods[reply.mood] %>" title="<%= characterMoods[reply.mood] %>">
                                        </div>
                                        <div class="name2"><span><%= reply.author_username %></span></div>
                                    </div>
                                    <div class="comment-reply-content"><%= reply.content %></div>
                                    <div class="commentdate"><span><%= date(reply.created_on) %></span></div>
                                </div>
                            <% } %>
                        <% } %>
                        <% if(authed) { %>
                            <div class="comment-reply-box">
                                <form action="" method="POST">
                                    <% if(comment.id in replyErrors) { %>
                                        <p class="form-error"><%= replyErrors[comment.id] %></p>
                                        <br>
                                    <% } %>
                                    <input type="hidden" name="reply" value="<%= comment.id %>">
                                    <textarea placeholder="Reply something..." id="comment-box" name="content" rows="10" col="50"></textarea>
                                    <br>
                                    <div class="mood-chooser">
                                        <div class="mood-chooser-open">Moods ⯈</div>
                                        <div class="mood-chooser-moods" style="display:block">
                                            <% for(i in characterMoods) { %>
                                                <div class="mood-choice">
                                                    <label>
                                                        <input type="radio" name="mood" value="<%= i %>" <%= i == 0 ? 'checked' : '' %>>
                                                        <img src="<%= characterMoodToUrl(i, user.character) %>" alt="<%= characterMoods[i] %>">
                                                    </label>
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                    <br>
                                    <input type="submit" value="Post that!">
                                </form>
                                <br><br>
                            </div>
                        <% } %>
                    </div>
                <% } %>
            <% } else { %>
                <i class="name2">Nobody has posted anything yet...</i>
                <br>
                <i class="name2">...yet...YET...</i>
                <br><br>
            <% } %>
        </div>
    </div>
<% } %>

<script src="/static/js/blog.js"></script>