<link rel="stylesheet" href="/static/css/contributor.css">

<h1><%= username %></h1>
<% if(info) { %>
    <div class="container">
        <div class="container-header">Info</div>
        <div id="info-container">
            <%- renderBBCode(info) %>
        </div>
    </div>
<% } %>

<div id="stats" class="container">
    <% if(mediaCount > 0) { %>
        <div class="container-header">Booru</div>
        <p><%= username %> has uploaded <%= mediaCount %> item(s) to the booru.</p>
        <p><a href="/booru/user/<%= username %>">View <%= username %>'s booru user page</a></p>
    <% } %>
    <div class="container-header">Posts</div>
    <% if(posts.length > 0) { %>
        <div id="posts-container">
            <% for(post of posts) { with(post) { %>
                <div class="post-listing">
                    <span class="name2"><a href="/blog/<%= slug %>"><%= title %></a>, posted <%= date(created_on) %></span>
                </div>
            <% } } %>
        </div>
    <% } else { %>
        <p><i><%= username %> hasn't written anything yet...</i></p>
    <% } %>
</div>