<% if(posts.length > 0) { %>
    <% for(post of posts) { %>
        <div class="blogpost">
            <div class="aligned"> 
                <div class="blogicon">
                    <img src="/static/img/iconthing.png" alt="Site icon">
                </div>
                <div class="name2">
                    <a href=/user/<%= post.author.name %>>
                        <span><%= post.author.name %></span>
                    </a>
                </div>
            </div>
            <% if(post.show_title) { %>
                <div class="blog-title">
                    <a href="/blog/<%= post.slug %>"><%= post.title %></a>
                </div>
            <% } %>
                <div class="blogdesc"><%- renderBBCode(post.content) %></div>
                <div class="blogdate">
                    <span><%= post.created_on %><span>
                    <span class="FUCKASS">comments (<%= post.comments %>)</span>
                </div>
            </div>
        </div>
    <% } %>
<% } else { %>
    <div id="no-blogs">
        <i>There are no posts yet...</i>
        <% if(authed && user.role > 0) { %>
            <br><br>
            <a href="/blogs/new">Create a new post!</a>
        <% } %>
    </div>
    <br>
<% } %>