<% posts.forEach(function(post) { %>
    <div class="blogpost">
        <div class="aligned"> 
            <div class="blogicon"><img src="/static/img/iconthing.png" alt=""></div>
            <div class="name2"><span><%= post.author.name %></span>
        </div>
    </div> 
        <div class="blogimage"><center><img src="/static/img/blogpostholder.png"></center></div>
        <div class="blogpostpoppoppoppop"><a href=/blog/<%= post.slug %>><%= post.title %></a></div>
        <div class="blogdesc"><%= post.content %></div>
        <div class="blogdate"><span><%= post.createdAt %><span><span class="FUCKASS">comments (0)</div>
    </div>
<% }) %>