<% if(typeof pagination != 'undefined') { with(pagination) { %>
    <hr>
    <div id="pagination">
        Page
        <% for(let i = Math.max(page-2, 1); i <= Math.min(page+2, totalPages); i++) { %>
            <% if(i == page) { %>
                <b class="current-page"><%= i %></b>
            <% } else { %>
                <a href="<%= pageLink(i) %>"><%= i %></a>
            <% } %>
        <% } %>
        <% if(page < totalPages-1) { %>
            ... <a href="<%= pageLink(totalPages) %>"><%= totalPages %></a>
        <% } %>
    </div>
    <hr>
<% } } %>
<div id="footer">
    Powered by <a href="https://git.termer.net/trigex/harukaze">Harukaze</a> |
    <% if(authed) { %>
        <a href="/myaccount">My Account</a> |
        <a href="/logout">Log out!</a>
        <% if(user.role > 0) { %>
            | <a href="/panel">Contributor Panel</a>
            | <a href="/blogs/new">Make a new blog!</a>
        <% } %>
        <% if(user.role > 1) { %>
            | <a href="/panel/admin">Administrator Panel</a>
        <% } %>
    <% } else { %>
        <a href="/login">Log In!</a> |
        <a href="/signup">Sign Up!</a>
    <% } %> |
    <a href="/booru">Booru</a>
</div>