<% if(typeof pagination != 'undefined') { with(pagination) { %>
    <hr>
    <div id="pagination">
        Page
        <% for(let i = Math.max(page-2, 1); i <= Math.min(page+2, totalPages); i++) { %>
            <% if(i == page) { %>
                <b class="current-page"><%= i %></b>
            <% } else { %>
                <a href="<%= pageLink(i) %>"><%= i %></a>
            <% } %>
        <% } %>
        <% if(page < totalPages-1) { %>
            ... <a href="<%= pageLink(totalPages) %>"><%= totalPages %></a>
        <% } %>
    </div>
    <hr>
<% } } %>
<div id="footer">
    Powered by <a href="https://git.termer.net/termer/harukaze-oss">Harukaze-OSS</a> |
    <a href="/rss">RSS feed</a>
</div>
