<div style="margin-left: 20px">
    <br>
    <i>Showing items in collection "<%= collection.title %>"</i>
    <% if(collection.comment) { %>
        <br>
        <div id="item-comment" class="container">
            <div class="container-header">Creator comment</div>
            <pre><%= collection.comment %></pre>
        </div>
    <% } %>
    <br>
    <% if(media.length > 0) { %>
        <div id="collection-items">
            <% for(const file of media) { with(file) { %>
                <div class="listing media-listing <%= mime.startsWith('video/') ? 'video-listing' : '' %>" title="<%= title %> (<%= tags.join(' ') %>)">
                    <a href="/booru/item/<%= id %>?collection=<%= collection.id %>">
                        <img src="/assets/thumbnail/<%= id %>" alt="<%= title %> (<%= tags.join(' ') %>)">
                    </a>
                    <% if(authed && user.role > 0) { %>
                        <br>
                        <a href="/booru/action?action=remove-from-collection&item=<%= id %>&collection=<%= collection.id %>">Remove</a>
                    <% } %>
                </div>
            <% } } %>
        </div>
    <% } else { %>
        <p>There are no items in this list.</p>
    <% } %>
    <% if(authed && user.role > 0) { %>
        <br><br>
        <a href="/booru/action?action=delete-collection&collection=<%= collection.id %>"><button>Delete this collection</button></a>
    <% } %>
</div>
