<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/booru.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">
    <link rel="mask-icon" href="/static/favicon/safari-pinned-tab.svg" color="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <% var _title = pageTitle == null ? site.title : pageTitle+' - '+site.title %>
    <% var _metaTitle = pageTitle || site.title %>
    <% var _image = metaImage || '/assets/logo' %>
    <% var _desc = metaDescription || site.description %>

    <title><%= _title %></title>

    <meta property="og:title" content="<%= _metaTitle %>">
    <meta property="og:description" content="<%= _desc %>">
    <meta property="og:image" content="<%= _image %>">
    <meta property="og:url" content="<%= url %>">

    <meta name="twitter:title" content="<%= _metaTitle %>">
    <meta name="twitter:description" content="<%= _desc %>">
    <meta name="twitter:image" content="<%= _image %>">
    <meta name="twitter:card" content="summary_large_image">
</head>
<body>
    <script>
        const nextUrl = "<%- typeof nextUrl == 'undefined' ? 'null' : nextUrl %>";
		const prevUrl = "<%- typeof prevUrl == 'undefined' ? 'null' : prevUrl %>";
    <% if(authed) { %>
        const authed = true;
        const user = {
            id: <%= user.id %>,
            username: "<%= user.username %>",
            role: <%= user.role %>
        };
    <% } else { %>
	    const authed = false;
    <% } %>

        function adjustSidebarHeight() {
            setTimeout(function() {
                document.getElementById('sidebar').style.height = '0px'
                document.getElementById('sidebar').style.height = document.body.scrollHeight + 'px'
            }, 10)
        }
    </script>
    
    <div id="header"><% include partials/_header.ejs %></div>
    <div id="sidebar"><% include partials/_sidebar.ejs %></div>
    <div id="content"><%- body %></div>
    <div id="footer"><% include partials/_footer.ejs %></div>

    <script>
		setTimeout(adjustSidebarHeight, 100)
		window.onload = adjustSidebarHeight
		const imgElems = document.getElementsByTagName('img')
		for(let imgElem of imgElems)
			imgElem.addEventListener('load', adjustSidebarHeight)
    </script>
</body>
</html>