<div id="search-results">
    <% for(file of media) { with(file) { %>
        <div class="listing media-listing <%= mime.startsWith('video/') ? 'video-listing' : '' %>" title="<%= title %> (<%= tags.join(' ') %>)">
            <a href="/booru/item/<%= id %><%= queryTags.length > 0 ? '?tags='+queryTags.join('+') : '' %>">
                <img src="/assets/thumbnail/<%= id %>" alt="<%= title %> (<%= tags.join(' ') %>)">
            </a>
            <% if(authed && user.role > 0) { %>
                <br>
                <a href="/booru/action?action=add-to-collection&item=<%= id %>">Add to collection</a>
            <% } %>
        </div>
    <% } } %>
</div>